body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

td, th, caption {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

ol, ul, li {
    list-style: none;
}

input, textarea, select, button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

/* css common */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.contain_box {
    margin: 20px 0 0 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.form_list {
    margin-bottom: 20px;
}

.form_list label {
    width: 110px;
    text-align: right;
    margin-right: 8px;
    height: 30px;
    line-height: 30px;
}

.form_list input[type="text"], .form_list select {
    width: 220px;
    box-sizing: border-box;
    height: 30px;
}

.inout[type="button"] {
    padding: 0 5px;
    height: 30px;
}

.addBtn {
    height: 30px;
    margin-left: 8px;
    padding: 0 5px;
}

#detail, #detail_new {
    width: 550px;
    min-height: 170px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#detail label, #detail_new label {
    display: block
}

#detail textarea, #detail_new textarea {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.displayNone {
    display: none;
}