<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">Aoto0818</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://www.njaiaoto.com:1433;databaseName=G2Robot</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">false</property>
        <mapping resource="org/sgpro/db/ViewConfigIndustry.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewOrderRoom.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRequestProperty.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewThirdPartyApiParamValue.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRobotOfferSession.hbm.xml" />
        <mapping resource="org/sgpro/db/EntThirdPartyApiParamValue.hbm.xml" />
        <mapping resource="org/sgpro/db/EntVoiceGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/TblQuestion.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewEndpointLatestStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/TblBizMenuitemAction.hbm.xml" />
        <mapping resource="org/sgpro/db/EntRtcSessionStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroupFlowSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/TblCustomizedConfigForUserGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewChatHistory.hbm.xml" />
        <mapping resource="org/sgpro/db/TblCustomizedConfigForUserGroupScene.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotStatusLastestUpdatetime.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRobotManualTalkCache.hbm.xml" />
        <mapping resource="org/sgpro/db/EntConfigModuleBitMask.hbm.xml" />
        <mapping resource="org/sgpro/db/EntRequest.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotUserBindlist.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotAppBindList.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotAppLastestVersion.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewUserLastestStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/TblOperationLog.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRtcSessionSignalCache.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewUserGroupScene.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewValidThirdPartyApiParams.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRtcSessionStatusLastestUpdatetime.hbm.xml" />
        <mapping resource="org/sgpro/db/TblOrderRoom.hbm.xml" />
        <mapping resource="org/sgpro/db/EntWordGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRobotAppVersion.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewThirdPartyParamsValue.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewValidThirdPartyApiParamsValue.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotBelong.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewBizMenutree.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewUserRobotBindList.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewFlowVoiceRule.hbm.xml" />
        <mapping resource="org/sgpro/db/TblCustomizedConfigForHwSpec.hbm.xml" />
        <mapping resource="org/sgpro/db/TblInheritConfigForRobot.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRequestRecommend.hbm.xml" />
        <mapping resource="org/sgpro/db/EntUser.hbm.xml" />
        <mapping resource="org/sgpro/db/EntIndustry.hbm.xml" />
        <mapping resource="org/sgpro/db/TblCustomizedConfigForRobot.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewNvp.hbm.xml" />
        <mapping resource="org/sgpro/db/EntRoom.hbm.xml" />
        <mapping resource="org/sgpro/db/TblBizMenutree.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroupFlowToVoiceGroupRuleSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewThirdPartyParamSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/TblWordGroupFlowToVoiceGroupRuleOrignal.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotManualTalkCache.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewUserStatusLastestUpdatetime.hbm.xml" />
        <mapping resource="org/sgpro/db/EntBizMenuEntry.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRobotStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRtcSessionStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/TblThirdPartyApiParams.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewHuaqin2016ProivderConfrence.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotAppLastestUpdatetime.hbm.xml" />
        <mapping resource="org/sgpro/db/TblVoiceGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/EntConfig.hbm.xml" />
        <mapping resource="org/sgpro/db/EntConfigBakup.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroupFlowToVoiceGroupRule.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotTags.hbm.xml" />
        <mapping resource="org/sgpro/db/TblUserGroupScene.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotLatestStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroupFlow.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroupFlowToVoiceGroupRuleOrignal.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotMaxPriorityConfig.hbm.xml" />
        <mapping resource="org/sgpro/db/TblWordGroupFlowToVoiceGroupRule.hbm.xml" />
        <mapping resource="org/sgpro/db/TblCustomizedConfigForIndustry.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotConfig.hbm.xml" />
        <mapping resource="org/sgpro/db/EntKeyWords.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroupSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRequestPropertyBackup.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewThirdPartyApiParamValueItem.hbm.xml" />
        <mapping resource="org/sgpro/db/EntThirdPartyApi.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRequestProperty.hbm.xml" />
        <mapping resource="org/sgpro/db/EntSystemMetaSettings.hbm.xml" />
        <mapping resource="org/sgpro/db/EntEntity.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRtcSessionStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/EntVoice.hbm.xml" />
        <mapping resource="org/sgpro/db/EntPinyin.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRtcSession.hbm.xml" />
        <mapping resource="org/sgpro/db/EntUserGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/TblInheritConfigForUserGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/EntResource.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewThirdPartyParamValueSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/EntVoiceCommand.hbm.xml" />
        <mapping resource="org/sgpro/db/EntDialog.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotConfigForApp.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewKeyWordGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/EntDialogBackup.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewConfigUserGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/EntCustomer.hbm.xml" />
        <mapping resource="org/sgpro/db/EntThirdPartyApiParam.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotConfigWithOwner.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewValidThirdPartyApi.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRobotAppVersionRequired.hbm.xml" />
        <mapping resource="org/sgpro/db/TblVersionRequired.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewVoiceGroupSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/EntHwSpec.hbm.xml" />
        <mapping resource="org/sgpro/db/EntRobot.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewConfig.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRuntimeDataBackup.hbm.xml" />
        <mapping resource="org/sgpro/db/EntAdmin.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewDialogUnknow.hbm.xml" />
        <mapping resource="org/sgpro/db/TblWordGroupFlow.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewVoice.hbm.xml" />
        <mapping resource="org/sgpro/db/EntPinyin3.hbm.xml" />
        <mapping resource="org/sgpro/db/TblWordGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/EntPinyin4.hbm.xml" />
        <mapping resource="org/sgpro/db/TblMlDialog.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewConfigRobot.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRuntimeBackup.hbm.xml" />
        <mapping resource="org/sgpro/db/EntPinyin2.hbm.xml" />
        <mapping resource="org/sgpro/db/TblUserOfferSession.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewKeyWordsSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/EntDbVersion.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewThirdPartySimple.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotAppVersionRequired.hbm.xml" />
        <mapping resource="org/sgpro/db/EntHuaqin2016ProviderConfrenceCompany.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewVoiceSimple.hbm.xml" />
        <mapping resource="org/sgpro/db/EntRobotApp.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewEntity.hbm.xml" />
        <mapping resource="org/sgpro/db/EntPinyinCovertor.hbm.xml" />
        <mapping resource="org/sgpro/db/TblThirdPartyApiParamValue.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotConfigForEditor.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewTodayChatTimeline.hbm.xml" />
        <mapping resource="org/sgpro/db/EntThirdPartyApiParamsValue.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRuntimeData.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewVoiceGroup.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotAppVersion.hbm.xml" />
        <mapping resource="org/sgpro/db/TblVoiceTag.hbm.xml" />
        <mapping resource="org/sgpro/db/EntOperation.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewUserGroupBindRobotSn.hbm.xml" />
        <mapping resource="org/sgpro/db/TblUserStatus.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotLatestStatusDrop.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotConfigForEditorMain.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewValue.hbm.xml" />
        <mapping resource="org/sgpro/db/TblNews.hbm.xml" />
        <mapping resource="org/sgpro/db/TblQuestionAnswerCandidates.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewConfigModuleBitMask.hbm.xml" />
        <mapping resource="org/sgpro/db/EntWordGroupFlow.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewConfigCommon.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewWordGroupFlowToVoiceGroupRuleOrignalV2.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRuntime.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRobotTags.hbm.xml" />
        <mapping resource="org/sgpro/db/EntVisitors.hbm.xml" />
        <mapping resource="org/sgpro/db/EntFeedback.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewConfigUserGroupScene.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotMaxPriorityConfigWithOwner.hbm.xml" />
        <mapping resource="org/sgpro/db/TblThirdPartyApiParam.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRobotAppLastestVersionCode.hbm.xml" />
        <mapping resource="org/sgpro/db/EntExam.hbm.xml" />
        <mapping resource="org/sgpro/db/TblThirdPartyApiParamsValue.hbm.xml" />
        <mapping resource="org/sgpro/db/TblHuaqin2016ProviderConfrencePaticipants.hbm.xml" />
        <mapping resource="org/sgpro/db/TblRobotSessionContext.hbm.xml" />
        <mapping resource="org/sgpro/db/RemoteUserInfo.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRemoteRobotList.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRemoteVoice.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRemoteSelectUserinfoList.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRemoteRobotConfigForAndroid.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRemoteUserRobotBindList.hbm.xml" />
        <mapping resource="org/sgpro/db/ViewRemoteEndpointLatestStatus.hbm.xml" />
        
    </session-factory>
</hibernate-configuration>
